.navbar{
    background-color:black;
    border-radius: 30px;
 }
 .navbar ul{
    overflow:auto;
 }
 .navbar li{
    float:left;
    list-style:none;
    margin: 13px 20px;
 }
 .navbar li a{
    font-size:20px;
    padding: 3px 3px;
    text-decoration: none;
    color:white;
 }

 .navbar li a:hover{
    color:cyan;
 }
body{
    background-color: antiquewhite;
 }

.section{
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
width: 100%;
min-height: 1vh;
background-color: antiquewhite;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding: 20px;
    transition: 0.3s;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 0px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 0rem
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 1px;
    font-size: 16px;
}

.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 1rem 0;
}

.social li{
    margin: 0 30px;    
}

.social a{
    text-decoration: none;
    color: #fff;
}

.social a i{
    font-size: 2.1rem;
}

.social a:hover i{
    color: rgb(255, 1, 44);
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 4px;
    text-transform: capitalize;
}